<div class="is-size-3 has-text-centered">
    Auctions
</div>
<div style="padding-left: 0.5em; padding-right: 0.5em;">
  <div *ngFor="let i of Items" class="box" (click)="BidTarget = i" [ngStyle]="{ 'background-color' : i.youAreLeading ? '#defceb' : (i.youAreOutbid ? '#fcdee5' : 'white') }">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img *ngIf="i.imageIds.length > 0" [src]="ImageUrl + i.imageIds[0]" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{i.title}}</strong> 
              <br>
              <span class="is-size-7 is-hidden-mobile" style="line-height: 0.5;">
                {{i.description}}
              </span>
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item is-size-5">
                
                <span *ngIf="i.youAreLeading == true" class="">
                  {{i.topBidBidAmount | currency}}
                  <span style="color: green">
                    <fa-icon [icon]="Icons.faCommentsDollar"></fa-icon>
                    You Lead
                </span>
                </span>
                <span *ngIf="i.youAreOutbid == true" class="">
                    {{i.topBidBidAmount | currency}}
                    <span style="color: red">
                      <fa-icon [icon]="Icons.faCommentsDollar"></fa-icon>
                      you were outbid!
                  </span>
                </span>
                <span *ngIf="i.youAreOutbid != true && i.youAreLeading != true">
                    <fa-icon [icon]="Icons.faCommentsDollar"></fa-icon>
                    {{i.topBidBidAmount | currency}}
                </span>
                <span *ngIf="i.topBidBidAmount != null && i.reservePrice > i.topBidBidAmount">
                  (Reserve not met)
                </span>  
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>
  </div>
</div>



<div *ngIf="BidTarget != null">
    <div class="modalBg" (click)="BidTarget = null"></div>
    <div class="bidModal">
        <div class="card">
            <div class="card-content">
              <p class="title has-text-centered">
                {{BidTarget.title}}
              </p>
              <p class="subtitle">
                {{BidTarget.description}}
              </p>
              <p class="is-size-6 has-text-centered">
                <span *ngIf="BidTarget.topBidBidAmount != null">
                    Current Bid {{BidTarget.topBidBidAmount | currency}}
                </span>
                Minumum Next Bid: {{BidTarget.nextBidAmount | currency}}
              </p>
              
            </div>
            <footer class="card-footer">
              <p class="card-footer-item" (click)="BidTarget = null">
                <span>
                  Cancel
                </span>
              </p>
              <p class="card-footer-item">
                <span *ngIf="BidTarget.youAreLeading == true">
                    You already lead the bidding
                </span>
                <span *ngIf="BidTarget.youAreLeading != true" class="button is-primary" (click)="PlaceBid(BidTarget, BidTarget.nextBidAmount)">
                  Place {{BidTarget.nextBidAmount | currency }} Bid
                </span>
              </p>
            </footer>
          </div>

    </div>
</div>