<nav  *ngIf="authService.IsLoggedIn()" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/']">
        Home
      </a>

      <a *ngIf="authService.IsAdmin()" class="navbar-item" [routerLink]="['auctions']">
        Auctions
      </a>
      <a *ngIf="authService.IsAdmin()" class="navbar-item" [routerLink]="['users']">
        Users
      </a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" (click)="loginService.Logout()">
        Log Out
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>